<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.bbang.mapper.DeliveryMapper">

	<resultMap type="com.team.bbang.domain.MemberDTO" id="info">
		<id property="memberseq" column="memberseq"/>
		
		<result property="memberseq" column="memberseq"/>
		<result property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="nickname" column="nickname"/>
		<result property="name" column="name"/>
		<result property="tel" column="tel"/>
		<result property="address" column="address"/>
		<result property="birth" column="birth"/>
		<result property="email" column="email"/>
		<collection property="roleList" resultMap="roleList"/>
		
	</resultMap>
	
	
	<resultMap type="com.team.bbang.domain.RoleDTO" id="roleList">
		<result property="memberseq" column="memberseq"/>
		<result property="authority" column="authority"/>
	</resultMap>
	
	

	
	
	
</mapper>