<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/headers/">
    <link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="css/style.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/inline.css" rel="stylesheet">
    <style>
        
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!--  -->

    <header class="header">
        <div class="container-fluid" >
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" style="margin-left: 150px;">
                  <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
              </a>
  
              <ul class="nav header-nav">
                  <li class="nav-item"><a href="#" class="nav-link"  aria-current="page">홈</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">로그인</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">회원가입</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">마이페이지</a></li>
                  <li class="nav-item"><a href="#" class="nav-link">About</a></li>
              </ul>

     <div class="content"> 
           <div class="icon width: 300px;">
                <img src="img/Bookbbang_logo.png" class="main-logo">
            </div>
            <div class="search-container search-box1">
                <form class="form-content">
                    <div class="search-arrow">
                        <select title="검색유형" id="s-type">
                            <option value="total">통합검색</option>
                            <option value="title">제목</option>
                            <option value="auth">저자</option>
                        </select>
                        <span class="material-symbols-outlined">
                            arrow_drop_down
                        </span>
                    </div>
                    <input type="text" class="search-input">
                    <button class="s-icon">
                    <span class="material-symbols-outlined search-icon">
                      search
                    </span>
                  </button>
                </form>
            </div>
            <div class="img-cart header-icon">
              <span class="material-symbols-outlined icon shopping-color" >shopping_cart</span>
              <span class="material-symbols-outlined icon user-color">account_circle</span>
            </div>
    </div>
  
  </div>
  </header>
  
          <!-- 내비게이션 바 -->
          <ul class="nav justify-content-center navi">
              <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">도서</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="#" >북유럽</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="#">헌책방</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">이벤트</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">매장안내</a>
              </li>
          </ul>
        </header>  
        

        <hr>
    
    <!-- 목록 -->
    
    <main class="py-md-3 pl-md-5">
      <div class="main-margin" id="main">
        <div class="row ">
          <div class="col-3 bd-sidebar">
            <ul class="nav">
              <li><h3>목록목록</h3></li>
              <li><a>Side 1</a></li>
              <li><a>Side 2</a></li>
              <li><a>Side 3</a></li>
              <li><a>Side 4</a></li>
              <li><a>Side 5</a></li>
              <li><a>Side 6</a></li>
            </ul>
            <br>
          </div>
          <div class="col-8 main-width">
            <div class="over-wrap">

                <!-- ********여기애 메인 내용을 넣어주세요^^^^^^^^^^^********  -->

                <img src="img/event.jpeg" alt="">
                <img src="img/event.jpeg" alt="">
                <img src="img/event.jpeg" alt="">
                <img src="img/event.jpeg" alt="">
                <img src="img/event.jpeg" alt="">
                <span>asdfasdfasdgasdgasdgasdfasdfasdgasdgasdgasdfasdfasdgasdgasdgasdfasdfasdgasdgasdgasdfasdfasdgasdgasdgasdfasdfasdgasdgasdgasdfasdfasdgasdgasdgasdfasdfasdgasdgasdgasdfasdfasdgasdgasdgasdfasdfasdgasdgasdgasdfasdfasdgasdgasdgasdfasdfasdgasdgasdgasdfasdfasdgasdgasdgasdfasdfasdgasdgasdgasdfasdfasdgasdgasdg</span>

            </div>
          </div>
          <div class="col-1 over-wrap" id="aside1" >
            <table class="right-sidebar">
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
            </table>
         </div>
        </div>
    </div> 
  </main>
      <hr>

      <div class="container-fluid footer-div" >
        <div class="footer1">
          <footer class="footer2">
              <div class="row footer3">
                <div class="col-6 col-md-10 mb-3">
                    <img src="img/bb1.png" class="footer-img">
                    <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">회사소개&nbsp;&nbsp;이용약관&nbsp;&nbsp;개인정보처리방침&nbsp;&nbsp;청소년보호정책&nbsp;&nbsp;대량주문안내&nbsp;&nbsp;협력사여러분&nbsp;&nbsp;채용정보&nbsp;&nbsp;광고소개</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">대표이사 : 유동현 서울특별시 종로구 종로 1 사업자등록번호 : 102-81-11670</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">대표전화 : 1544-1900 | FAX : 0502-987-5711(지역번호 공통) 서울특별시 통신판매업신고번호 : 제 653호 사업자정보확인</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">© KYOBO BOOK CENTRE</a></li>
                    <li class="nav-item mb-7"><a href="#" class="nav-link p-0 text-muted"></a><small>&copy;&nbsp;2023&nbsp;JDSC&nbsp;F7Company,&nbsp;Inc.&nbsp;All&nbsp;rights&nbsp;reserved.</small></li>
                    </ul>
                    
                </div>
              
                <div class="col-md-2  mb-3">
                  <a href="https://instagram.com/book._bbang?igshid=MmIzYWVlNDQ5Yg=="><i class="bi bi-instagram footer-ico n" style="font-size: 2rem;"></i></a>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="https://www.youtube.com/@amazingc0met"><i class="bi bi-youtube footer-icon"></i></a>
                </div>
              </div> 
          </footer>
        </div>
      </div>
      
    
    
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
    
    </script>
</body>
</html>