
.bookListAll {
    /* width: 900px; */
    /* border: 1px solid gray; */
    /* height: 1000px; */
    margin-bottom: 50px;
}


.quHeader {
    font-size: 20px;
    margin-bottom: 20px;
}

.qButton {
    display: flex;
    justify-content: flex-end;
}

.bookPaging {
    display: flex;
    justify-content: center;
}

.bookPaging button {
    font-size: 13px;
}
