


.bookListAll {
    /* height: 1000px; */
    margin-bottom: 50px;
}

.sortRadius {
    border-radius: 10px;
    border: solid 1px #d8d8d8;
}

.bookSortArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: solid 1px #d8d8d8; */
    background-color: #f7f7f7;
    padding: 0px 20px;
    height: 50px;
    border-bottom: solid 1px #ebebeb;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.bookSortArea .bookSortMenu {
    text-align: left;
    display: flex;
    align-items: center;
}

.bookPaging {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: solid 1px #d8d8d8; */
    border-radius: 10px;
    padding: 0px 20px;
    height: 60px;
    border-bottom: solid 1px #ebebeb;

    text-align: left;
    display: flex;
    align-items: center;
}

.bookPaging button {
    font-size: 13px;
}

.form-check-input {
    margin-top: 8px;
}

.form-check-label {
    font-size: 13px;
}

.bookSortArea .bookSortMenu span {
    color: #595959;
    font-size: 14px;
    padding-left: 370px;
}

.bookSortArea a {
    font-size: 14px;
    display: inline-block;
    color: black;
    text-decoration: none;
    margin: 0 10px;
}

.bookSortArea a.on {
    color: cornflowerblue;
    font-weight: bold;
}

.bookListArea .bookul {
    padding-left: 0px;
}

.bookListCont {
    display: table;
}

.bookListArea li {
    padding: 30px 0;
    border-bottom: solid 1px #ebebeb;
    list-style: none;
}

.bookListimg {
    width: 125px;
    vertical-align: top;
}

.bookListimg img {
    width: 125px;
}

.bookListInfo {
    padding-left: 17px;
    width: auto;
}

.bookListInfo .bookName {
    color: #333;
    font-size: 15px;
    font-weight: bold;
}

.bookListInfo .bookPubs {
    color: #595959;
    font-size: 14px;
    margin-top: 5px;
}

.beforeLine::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 11px;
    margin: 6px 6px 0;
    background-color: #d5d5d5;
    vertical-align: top;
}

.bookPrice {
    margin-top: 7px;
    font-size: 14px;
}

.realPrice {
    font-size: 16px;
}

.shipDate {
    padding-top: 7px;
    color: #666;
    font-size: 12px;
}

.bookListInfo .bookRate {
    margin-top: 7px;
    font-size: 14px;
}

.bookListInfo .bookRead {
    margin-top: 7px;
    font-size: 13px;
    color: #595959;
}

.bookListArea .orderButton {
    width: 125px;
    text-align: center;
}

/* .bookCont input[type=button] {
    width: 80px;
    height: 40px;
    border: 0px;
    
    margin-bottom: 7px;
    border-radius: 6px;
} */

.orderButton .btn {
    font-size: 13px;
    margin-bottom: 7px;
}

.tblQ td input[type=text] {
	width: 60%;
}

.tblQ th {
	text-align: center;
}

.btns {
	display: flex;
	justify-content: center;
}

.btns button {
	margin-right: 10px;
}

.quHeader {
	font-size: 20px;
	margin-bottom: 20px;	
}