    
    @font-face {
        font-family: 'font';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
        }
    
        @font-face {
            font-family: 'BookkMyungjo-Bd';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/BookkMyungjo-Bd.woff2') format('woff2');
            font-weight: 700;
            font-style: normal;
        }

        @font-face {
            font-family: 'GoodNeighbors-Good-Neighbors-Bold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/GoodNeighbors-Good-Neighbors-Bold.woff2') format('woff2');
            font-weight: 700;
            font-style: normal;
        }
       
    @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

    .jejugothic * { 
    font-family: 'Jeju Gothic', sans-serif;
    }


    @font-face {
        font-family: 'JSongMyung-Regular-KO';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/JSongMyung-Regular-KO.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }