body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-form {
    background-color: #fff;
    width: 400px;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border: 1px solid #f0e7d6;
  }

  .login-form h3 {
    margin-bottom: 40px;
    color: #333;
  }

  .login-form label {
    display: block;
    margin-bottom: 10px;
    color: #666;
  }

  .login-form input[type="text"],
  .login-form input[type="password"],
  .login-form input[type="email"],
  .login-form input[type="date"] {
    width: 80%;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    border: 1px solid #9E6F21;
    height: 20px;
  }

  .login-form button {
    width: 85%;
    padding: 10px;
    background-color: #f0e7d6;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 50px;
    margin-top: 20px;
    font-weight: bold;
    font-size: 15px;
    
  }

  .login-form button:hover {
    background-color: #e1caa4;
  }

  .asdf {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    width: 100%;
    
  }

  .login-inp {
    width: 85%; 
    display: flex; 
    justify-content: space-between; 
    font-size: 13px; 
    color: #777; 
    margin-top: 10px;

}

.login-tab {
    display: flex;
    width: 100%;
    margin-bottom: 24px;
    justify-content: space-around;
    align-items: center;
  }

  .login-tab-item {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 1px solid #f1f1f1;
    border-bottom: 0;
    background-color: #f1f1f1;
    color: #aaa;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .login-tab-item.active {
    background-color: #fff;
    color: #000;
  }

  .join_title > label {
    margin-bottom: -15px;
    }

    .styled-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 5px 10px;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        border-radius: 4px;
        height: 30px;
        margin-top: 17px;   
    }

    .searchadr {
        margin-left: 5px;
    }

    .styled-button:hover {
        background-color: #45a049;
    }

    .styled-button-big {
        width: 100px;
    }