.erow{
    width:250px;
    height:50px;
}

#main > div > div.col-3.bd-sidebar.myinfo > ul > li:nth-child(2) > a{
    color:black
}
#main > div > div.col-3.bd-sidebar.myinfo > ul > li:nth-child(3) > a{
    color:black
}


#main > div > div.col-3.bd-sidebar.myinfo > ul > li:nth-child(4) > a{
    color:black
}

#main > div > div.col-3.bd-sidebar.myinfo > ul > li:nth-child(5) > a{
    color:black
}

#main > div > div.col-3.bd-sidebar.myinfo > ul > li:nth-child(6) > a{
    color:black
}


